.login-box{
    width: 570px;
    height: 500px;
    border: 1px solid rgba(171, 171, 171, 1);
    border-radius: 4px;
    margin: auto;
    margin-top: 10vh;
}

.login-box h3{
    font-size: 24px;
    text-align: start;
    margin-left: 52px;
    margin-top: 28px;
    font-weight: 700;
    line-height: 29px;
}

.login-form{
    display: flex;
    flex-direction: column;
    width: 460px;
    margin: auto;
    margin-top: 53px;
    
}

.login-form input{
    border-bottom: 2px solid gray;
    padding: 10px 0;
    margin-bottom: 50px;
}

::placeholder{
    font-weight: 500;
    font-size: 16px
}

.login-form input:focus{
    outline: none;
}

.forget-section{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}

.forget-password{
    color: rgba(249, 165, 26, 1);
}

.btn-login{
    margin-top: 30px;
    margin-bottom: 10px;
    align-items: center;
    padding: 14px 210px;
    width: 461px;
    height: 50px;   
    background: #F9A51A;
    font-weight: 500;
    font-size: 16px;
}

.create-acc-sec{
    margin-top: 16px;
    font-size: 16px;
    font-weight: 500;
}

.create-acc-text{
    color: rgba(249, 165, 26, 1);
}


.divide-section hr{
    width: 200px;
    height: 0px;
    border: 1px solid #AAAAAA;
}


.login-with-popup button{
    width: 457px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #C7C7C7;
    border-radius: 57px;
}